{% extends 'base.html.twig' %}

{% block title %}CARFLY{% endblock %}

{% block body %}
    <section class="container">
        <section id="auth-buttons">
            <button onclick='location.href="{{path("app_car")}}"'  class="auth-button">OUR CARS</button>
            <button onclick='location.href="{{path('app_circuit')}}"' class="auth-button">OUR CIRCUITS</button>
            <button onclick='location.href="{{path('user_new')}}"' class="auth-button">SCHEDULE</button>
            <button onclick='location.href="{{path('schedule_index')}}"' class="auth-button">TICKETING</button>
            <button onclick='location.href="{{path('app_contact')}}"' class="auth-button">HOME</button>
        </section>

    </section>
{% endblock %}