<h3>Bonjour {{ user.firstname }}, {{ user.lastname }}</h3>

<p>Je vous confirme votre rendez vous chez CarFly,<br>
nous vous attendons au circuit de {{ circuits.name }} situé a {{ circuits.places }} le {{ schedule.days }} à {{ schedule.hours }}.<br>
A très bientôt,<br>
    CarFly</p>